# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
.venv/
env/
venv/

# TensorFlow / Models
*.h5
*.hdf5
*.keras

# Dataset and large files
SAMPLE_VIDS/
src/DATA/
src/uploads/

# System / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
